{% extends 'base.html.twig' %}

{% block Titulo %}Personas{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Personas</li>
    <li class="breadcrumb-item active">Listado de todas las personas independiente de su tipo</li>
{% endblock %}

{% block contenido %}
<div class="white-box"> 
    <div class="pull-right">
        <a class="btn btn-primary " href="{{ path('personas_new') }}">
            <i class="fas fa-plus"></i> Nueva Persona</a> 
    </div>
    
    <h3 class="box-title m-b-0">Gestión de personas</h3>
    <p class="text-muted m-b-30">Personas registradas</p>
    
    <div class="table-responsive">
        <table  id="personas" class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th style="display:none;">ID persona</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>DUI</th>
                    <th>NIT</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Dirección</th>
                    <th>Parentesco</th>
                    <th style="display:none;">Foto</th>
                    <th style="display:none;">Foto2</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>
                        <td style="display:none;"><a href="{{ path('personas_show', { 'idpersona': persona.idpersona }) }}">{{ persona.idpersona }}</a></td>
                        <td>{{ persona.nombres }}</td>
                        <td>{{ persona.apellidos }}</td>
                        <td>{{ persona.dui }}</td>
                        <td>{{ persona.nit }}</td>
                        <td>{{ persona.telefono }}</td>
                        <td>{{ persona.celular }}</td>
                        <td>{{ persona.detalledireccion }}</td>
                        <td>{{ persona.parentesco }}</td>
                        <td style="display:none;">{{ persona.foto }}</td>
                        <td style="display:none;">{{ persona.foto2 }}</td>
                        <td>
                            <a class="btn btn-block btn-info" href="{{ path('personas_show', { 'idpersona': persona.idpersona }) }}">
                                <i class="far fa-eye"></i> Ver</a>
                            <a class="btn btn-block btn-warning" href="{{ path('personas_edit', { 'idpersona': persona.idpersona }) }}">
                                <i class="fas fa-pencil-alt"></i> Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block JS %}
{{ parent() }}
<script type="text/javascript">
  $(document).ready(function() {
        var table = $('#personas').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "thousands": ",",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                  "next": "Siguiente",
                  "previous": "Anterior"
                }
            },
            "info": false,
            "sort": false,
            "lengthMenu": false,
            "bLengthChange": false,
            "bFilter": true,
    });
  });
</script>
{% endblock %}
