{% extends 'base.html.twig' %}

{% block Titulo %}Personas{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Nueva persona</li>
    <li class="breadcrumb-item active">Registrar </li>
{% endblock %}

{% block contenido %}
    <h1>Agregar nueva persona</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-lg-6"><br>
        <input type="submit" class="btn btn-success btn-block" value="Crear" />
    </div>
    {{ form_end(form) }}

    <div class="col-lg-6"><br>
        <a class="btn btn-primary btn-block" href="{{ path('personas_index') }}">
        <i class="fas fa-arrow-left"> </i> Regresar al listado</a>
    </div>
{% endblock %}
