{% extends 'base.html.twig' %}

{% block Titulo %}Persona{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Personas</li>
    <li class="breadcrumb-item active">Datos de la persona</li>
{% endblock %}

{% block contenido %}
<h1>Información de la persona</h1>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr style="display:none;">
                <th>ID</th>
                <td>{{ persona.idpersona }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ persona.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ persona.apellidos }}</td>
            </tr>
            <tr>
                <th>DUI</th>
                <td>{{ persona.dui }}</td>
            </tr>
            <tr>
                <th>NIT</th>
                <td>{{ persona.nit }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ persona.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ persona.celular }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ persona.detalledireccion }}</td>
            </tr>
            <tr>
                <th>Parentesco</th>
                <td>{{ persona.parentesco }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ persona.foto }}</td>
            </tr>
            <tr>
                <th>Foto2</th>
                <td>{{ persona.foto2 }}</td>
            </tr>
        </tbody>
    </table>
</div>
    
<div class="col-lg-6"><br>
    <a class="btn btn-warning btn-block"  href="{{ path('personas_edit', { 'idpersona': persona.idpersona }) }}">
        <i class="fas fa-pencil-alt"></i> Editar</a>
</div> 
<div class="col-lg-6"><br>
    <a class="btn btn-primary btn-block" href="{{ path('personas_index') }}">
        <i class="fas fa-arrow-left"></i> Regresar a la lista</a>
</div>

        {#{{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}#}
{% endblock %}
