<link href="{{ asset('DashboardAdmin/') }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<!--Font Awesome 5.4.1 Web-->
<link href="{{ asset('DashboardAdmin/') }}vendor/fontawesome/css/all.css" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="{{ asset('DashboardAdmin/') }}vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="{{ asset('DashboardAdmin/') }}css/sb-admin.css" rel="stylesheet">

<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

 <!-- AlertifyJS -->
<link href="{{ asset('AlertifyJs/') }}css/alertify.min.css" rel="stylesheet">


<link href="{{ asset('JavasAdmin/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ asset('JavasAdmin/') }}plugins/bower_components/dropify/dist/css/dropify.min.css">
<link href="{{ asset('JavasAdmin/') }}bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<!--alerts CSS -->
<link href="{{ asset('JavasAdmin/') }}plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<!-- Wizard CSS -->
<link href="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery-wizard-master/css/wizard.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ asset('JavasAdmin/') }}css/style.css" rel="stylesheet">