<script src="{{ asset('DashboardAdmin/') }}vendor/jquery/jquery.min.js"></script>
<script src="{{ asset('DashboardAdmin/') }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('DashboardAdmin/') }}vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="{{ asset('DashboardAdmin/') }}vendor/chart.js/Chart.min.js"></script>
<script src="{{ asset('DashboardAdmin/') }}vendor/datatables/jquery.dataTables.js"></script>
<script src="{{ asset('DashboardAdmin/') }}vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="{{ asset('DashboardAdmin/') }}js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="{{ asset('DashboardAdmin/') }}js/sb-admin-datatables.min.js"></script>
<script src="{{ asset('DashboardAdmin/') }}js/sb-admin-charts.min.js"></script>


<!-- AlertifyJS -->
<script src="{{ asset('AlertifyJs/') }}alertify.min.js"></script>


<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('JavasAdmin/') }}bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<!-- Form Wizard JavaScript -->
<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js"></script>
<!-- FormValidation -->
<link rel="stylesheet" href="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css">
<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js"></script>
<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js"></script>
<!-- Sweet-Alert  -->
<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/sweetalert/sweetalert.min.js"></script>

<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>

<!-- jQuery file upload -->
<script src="{{ asset('JavasAdmin/') }}plugins/bower_components/dropify/dist/js/dropify.min.js"></script>

<script src="{{ asset('JavasAdmin/') }}js/jquery.slimscroll.js"></script>

 <script src="{{ asset('JavasAdmin/') }}plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>