<div class="container-fluid col-sm-12"><br><br></div>
<footer class="sticky-footer">
	<div class="text-center">
		<small>Universidad de El Salvador - IGF115 - Administración de Centros Penales</small>
	</div>
</footer>
