<footer class="footer sticky2">
	<div class="container">
		<div class="text-center">
			<small>Universidad de El Salvador Diseño de sistemas Ciclo II-2018 IGF S.A. de C.V.</small>
		</div>
	</div>
</footer>