{#Título: Barra de navegación
  Objetivo: Proporcionar una navegación adecuada y cómoda en la página #}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="">  Administración de centros penales</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{# Inicio del contenido de la barra de navegación #}
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="overflow-y: auto; overflow-x:hidden">
      {# personas #}
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Personas">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fas fa-users"></i>
          <span class="nav-link-text"> Personas</span></a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a href="{{ path('personas_index') }}">
              <i class="fas fa-address-book"></i> Lista de personas registradas</a>
          </li>
          <li>
              <a href="{{ path('personas_new') }}">
              <i class="fas fa-user-plus"></i> Registrar nueva persona</a>
          </li>
        </ul>
      </li>

      {# carceles #}
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Carceles">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
          <i class="fas fa-city"></i>
          <span class="nav-link-text"> Cárceles</span></a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
          <li>
              <a href="{{ path('carcels_index') }}">
              <i class="fas fa-list-ol"></i> Lista de cárceles</a>
          </li>
          <li>
              <a href="{{ path('carcels_new') }}">
              <i class="fas fa-plus"></i> Nueva carcel</a>
          </li>
        </ul>
      </li>
      {# reclusos #}
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reclusos">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
          <i class="fas fa-id-card"></i>
          <span class="nav-link-text">Reclusos</span></a>
        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
          <li>
              <a href="{{ path('reclusos_index') }}">
                <i class="fas fa-list-ul"></i> Lista de reclusos</a>
          </li>
          <li>
              <a href="{{ path('reclusos_new') }}">
                <i class="fas fa-user-plus"></i> Nuevo recluso</a>
          </li>
        </ul>
      </li>

      {# Visitas#}
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Visitas">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti6" data-parent="#exampleAccordion">
          <i class="fas fa-walking"></i>
          <span class="nav-link-text">Visitas </span></a>
        <ul class="sidenav-second-level collapse" id="collapseMulti6">
          <li>
              <a href="{{ path('reclusovisitas_index') }}">
                <i class="fas fa-clipboard-list"></i> Listado de visitas</a>
          </li>
          <li>
              <a href="{{ path('reclusovisitas_new') }}">
                <i class="fas fa-plus-circle"></i> Nueva visita</a>
          </li>
        </ul>
      </li>
    </ul> {# Fin de la barra de navegación#}
    {# Botón para reducir el ancho de la barra de navegación #}
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fas fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    {# Botón superior derecho #}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a style="color:white" class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      </li>
    </ul>
  </div>
  {# Fin del contenido de la barra de navegación #}
</nav>
