<!DOCTYPE html>
<html lang="en">

{#Título: Página Base
  Objetivo: Es la planilla de todas las vistas cuando un usuario esta en sesión #}

<head>
  {# Plantilla Dadmin #}
  {% block META %}
    {% include 'IGFPlantillaBundle::Dadmin/DMeta.html.twig' %}
  {% endblock %}

  <title>
    {% block Titulo %}Administración{% endblock %}
  </title>
  <!-- Bootstrap core CSS-->
  {% block CSS %}
       {% include 'IGFPlantillaBundle::Dadmin/DCSS.html.twig' %}
  {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navegación-->
  {% include 'IGFPlantillaBundle::Dadmin/DNav.html.twig' %}

  {# Inicio de la página #}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ path('igf_plantilla_homepage') }}">Administración de Centros Penales</a>
        </li>
        {% block Breadcrum %}
          <li class="breadcrumb-item active">Administración</li>
        {% endblock %}
      </ol>
      <div class="container-fluid col-md-12">
      {% block contenido %}
       <h1><i class="fas fa-home"></i>  Bienvenido/a </h1>
      {% endblock %}
      </div>
    </div>

    {# Inicio del pie de página #}
    {% block Footer %}
        {% include 'IGFPlantillaBundle::Dadmin/DFooter.html.twig' %}
    {% endblock %}
    {# Fin del pie de página#}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% block Modal %}
      {% include 'IGFPlantillaBundle::Dadmin/DLogoutModal.html.twig' %}
    {% endblock %}
    <!-- Bootstrap core JavaScript-->
    {% block JS %}
        {% include 'IGFPlantillaBundle::Dadmin/DFJS.html.twig' %}
    {% endblock %}
  </div>
  {# Fin la página #}
</body>

</html>
