<!DOCTYPE html>
<html lang="en">

{#Título: Plantilla sin la barra de navegación
  Objetivo: Base para usar en las páginas que no necesiten la barra de navegación #}

<head>
  {# Plantilla Dadmin #}
  {% block META %}
    {% include 'IGFPlantillaBundle::Dadmin/DMeta.html.twig' %}
  {% endblock %}

  <title>
    {% block Titulo %}{% endblock %}
  </title>
  <!-- Bootstrap core CSS-->
  {% block CSS %}
    {% include 'IGFPlantillaBundle::Dadmin/DCSS.html.twig' %}
  {% endblock %}
</head>

<body class="fixed-nav" id="page-top">
   {# Nombre de la empresa #}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" style="color:rgb(255, 255, 255)">IGF115 - Proyecto 2</a>
  </nav>

  {# Inicio de la página #}
  <div class="content-wrapper">
    <div class="container-fluid col-md-12">
      {% block contenido %}
      {% endblock %}
    </div>

    {# Inicio del pie de página#}
    {% block Footer %}
      {% include 'IGFPlantillaBundle::Dadmin/DFooter.html.twig' %}
    {% endblock %}
    {# Fin del pie de página#}
    <!-- Bootstrap core JavaScript-->
    {% block JS %}
        {% include 'IGFPlantillaBundle::Dadmin/DFJS.html.twig' %}
    {% endblock %}
  </div>
  {# Fin de la página #}
</body>
</html>
