{% extends 'base.html.twig' %}

{% block Titulo %}Cárceles{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Cárceles</li>
    <li class="breadcrumb-item active">Listado de cárceles</li>
{% endblock %}

{% block contenido %}

<div class="white-box"> 
    <div class="pull-right">
        <a class="btn btn-primary " href="{{ path('carcels_new') }}">
            <i class="fas fa-plus"></i> Nueva Cárcel</a> 
    </div>

    <h3 class="box-title m-b-0">Gestión de cárceles</h3>
    <p class="text-muted m-b-30">Carceles registradas</p>

    <div class="table-responsive">
        <table id="carceles" class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th style="display:none;">ID</th>
                    <th>Dirección</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Cantidad de celdas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for carcel in carcels %}
                    <tr>
                        <td style="display:none;"><a href="{{ path('carcels_show', { 'idcarcel': carcel.idcarcel }) }}">
                        {{ carcel.idcarcel }}</a></td>
                        <td>
                            {{ carcel.getIddetalledireccion().getDireccion() }},
                            {{ carcel.getIddetalledireccion().getIdmunicipio().getNombremunicipio() }},
                            {{ carcel.getIddetalledireccion().getIdmunicipio().getIddepartamento().nombredepartamento }} 
                        </td>
                        <td>{{ carcel.nombre }}</td>
                        <td>{{ carcel.capacidad }}</td>
                        <td>{{ carcel.cantidadceldas }}</td>
                        <td>
                            <a class="btn btn-block btn-info" href="{{ path('carcels_show', { 'idcarcel': carcel.idcarcel }) }}">
                                <i class="far fa-eye"></i> Ver</a>
                            <a class="btn btn-block btn-warning" href="{{ path('carcels_edit', { 'idcarcel': carcel.idcarcel }) }}">
                                <i class="fas fa-pencil-alt"></i> Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block JS %}
{{ parent() }}
<script type="text/javascript">
  $(document).ready(function() {
        var table = $('#carceles').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "thousands": ",",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                  "next": "Siguiente",
                  "previous": "Anterior"
                }
            },
            "info": false,
            "sort": false,
            "lengthMenu": false,
            "bLengthChange": false,
            "bFilter": true,
    });
  });
</script>
{% endblock %}
