{% extends 'base.html.twig' %}

{% block Titulo %}Nueva cárcel{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Cárceles</li>
    <li class="breadcrumb-item active">Registrar cárcel</li>
{% endblock %}

{% block contenido %}
    <h1>Agregar cárcel</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="col-lg-6"><br>
        <input type="submit" class="btn btn-success btn-block" value="Crear" />
    </div>
    {{ form_end(form) }}

  <div class="col-lg-6"><br>
      <a class="btn btn-primary btn-block" href="{{ path('carcels_index') }}">
      <i class="fas fa-arrow-left"> </i> Regresar al listado</a>
  </div>

{% endblock %}
