{% extends 'base.html.twig' %}

{% block Titulo %}Cárcel{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Cárceles</li>
    <li class="breadcrumb-item active">Datos de la cárcel</li>
{% endblock %}

{% block contenido %}
    <h1>Información de la cárcel</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr style="display:none;">
                    <th >ID Cárcel</th>
                    <td>{{ carcel.idcarcel }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ carcel.nombre }}</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>
                        {{ carcel.getIddetalledireccion().getDireccion() }},
                        {{ carcel.getIddetalledireccion().getIdmunicipio().getNombremunicipio() }},
                        {{ carcel.getIddetalledireccion().getIdmunicipio().getIddepartamento().nombredepartamento }} 
                    </td>
                </tr>
                <tr>
                    <th>Capacidad</th>
                    <td>{{ carcel.capacidad }}</td>
                </tr>
                <tr>
                    <th>Cantidad de celdas</th>
                    <td>{{ carcel.cantidadceldas }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-lg-6"><br>
        <a class="btn btn-warning btn-block"  href="{{ path('carcels_edit', { 'idcarcel': carcel.idcarcel }) }}">
            <i class="fas fa-pencil-alt"></i> Editar</a>
    </div> 
    <div class="col-lg-6"><br>
        <a class="btn btn-primary btn-block" href="{{ path('carcels_index') }}">
            <i class="fas fa-arrow-left"></i> Regresar a la lista</a>
    </div>

        {#{{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}#}
         
{% endblock %}
