{% extends 'base.html.twig' %}

{% block Titulo %}      {% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">             </li>
    <li class="breadcrumb-item active">           </li>
{% endblock %}

{% block contenido %}
    <h1>Departamento edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('departamentos_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
