{% extends 'base.html.twig' %}

{% block Titulo %}      {% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">             </li>
    <li class="breadcrumb-item active">           </li>
{% endblock %}

{% block contenido %}
    <h1>Departamentos list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddepartamento</th>
                <th>Nombredepartamento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td><a href="{{ path('departamentos_show', { 'iddepartamento': departamento.iddepartamento }) }}">{{ departamento.iddepartamento }}</a></td>
                <td>{{ departamento.nombredepartamento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departamentos_show', { 'iddepartamento': departamento.iddepartamento }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('departamentos_edit', { 'iddepartamento': departamento.iddepartamento }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departamentos_new') }}">Create a new departamento</a>
        </li>
    </ul>
{% endblock %}
