{% extends 'base.html.twig' %}

{% block Titulo %}      {% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">             </li>
    <li class="breadcrumb-item active">           </li>
{% endblock %}

{% block contenido %}
    <h1>Departamento creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('departamentos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
