{% extends 'base.html.twig' %}

{% block Titulo %}      {% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">             </li>
    <li class="breadcrumb-item active">           </li>
{% endblock %}

{% block contenido %}
    <h1>Departamento</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddepartamento</th>
                <td>{{ departamento.iddepartamento }}</td>
            </tr>
            <tr>
                <th>Nombredepartamento</th>
                <td>{{ departamento.nombredepartamento }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departamentos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('departamentos_edit', { 'iddepartamento': departamento.iddepartamento }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
