{% extends 'base.html.twig' %}

{% block Titulo %}Editar recluso{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Reclusos </li>
    <li class="breadcrumb-item active">Editar información del recluso</li>
{% endblock %}

{% block contenido %}
    <h1>Editar recluso </h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <div class="col-lg-6"><br>
            <input type="submit" class="btn btn-success btn-block" value="Guardar" />
        </div>
    {{ form_end(edit_form) }}

    <div class="col-lg-6"><br>
        <a class="btn btn-primary btn-block" href="{{ path('reclusos_index') }}">
          <i class="fas fa-arrow-left"> </i> Regresar al listado</a>
    </div>
    {#
    <div class="col-md-6">
      {{ form_start(delete_form) }}<input class="btn btn-danger btn-block" type="submit" value="Eliminar">{{ form_end(delete_form) }}
    </div>#}
{% endblock %}
