{% extends 'base.html.twig' %}

{% block Titulo %}Reclusos{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Reclusos</li>
    <li class="breadcrumb-item active">Listado de reclusos</li>
{% endblock %}

{% block contenido %}
<div class="white-box">
    <div class="pull-right">
        <a class="btn btn-primary " href="{{ path('reclusos_new') }}">
            <i class="fas fa-plus"></i> Nuvo recluso</a>
    </div>

    <h3 class="box-title m-b-0">Gestión de reclusos</h3>
    <p class="text-muted m-b-30">Reclusos registrados</p>

    <div class="table-responsive">
        <table id="reclusos" class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>Numero de recluso</th>
                <th>Inicio de condena</th>
                <th>Fin de condena</th>
                <th>Delito</th>
                <th>Mara</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for recluso in reclusos %}
            <tr>
                <td>{{ recluso.idpersona.nombres }}, {{ recluso.idpersona.apellidos }}</a></td>
                <td>{{ recluso.numerorecluso }}</td>
                <td>{% if recluso.iniciocondena %}{{ recluso.iniciocondena|date('d-m-Y') }}{% endif %}</td>
                <td>{% if recluso.fincondena %}{{ recluso.fincondena|date('d-m-Y') }}{% endif %}</td>
                <td>{{ recluso.delito }}</td>
                <td>{{ recluso.mara }}</td>
                <td>
                    <a class="btn btn-block btn-info" href="{{ path('reclusos_show', { 'idrecluso': recluso.idrecluso }) }}">
                        <i class="far fa-eye"></i> Ver</a>
                    <a class="btn btn-block btn-warning" href="{{ path('reclusos_edit', { 'idrecluso': recluso.idrecluso }) }}">
                        <i class="fas fa-pencil-alt"></i> Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

{% block JS %}
    {{ parent() }}
    <script type="text/javascript">
      $(document).ready(function() {
            var table = $('#reclusos').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "thousands": ",",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                      "next": "Siguiente",
                      "previous": "Anterior"
                    }
                },
                "info": false,
                "sort": false,
                "lengthMenu": false,
                "bLengthChange": false,
                "bFilter": true,
        });
      });
    </script>
{% endblock %}
