{% extends 'base.html.twig' %}

{% block Titulo %}Recluso{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Reclusos</li>
    <li class="breadcrumb-item active">Datos del recluso</li>
{% endblock %}

{% block contenido %}
    <h1>Información del recluso</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr style="display:none;">
                    <th>Idrecluso</th>
                    <td>{{ recluso.idrecluso }}</td>
                </tr>
                <tr>
                    <th>Número de recluso</th>
                    <td>{{ recluso.numerorecluso }}</td>
                </tr>
                <tr>
                    <th>Nombre del recluso</th>
                    <td> {{ recluso.getIdpersona().getNombres() }} {{ recluso.getIdpersona().getApellidos() }}</td>
                </tr>
                <tr>
                    <th>DUI</th>
                    <td> {{ recluso.getIdpersona().getDui() }}</td>
                </tr>
                <tr>
                    <th>NIT</th>
                    <td> {{ recluso.getIdpersona().getNit() }}</td>
                </tr>
                <tr>
                    <th>Inicio de condena</th>
                    <td>{% if recluso.iniciocondena %}{{ recluso.iniciocondena|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fin de condena</th>
                    <td>{% if recluso.fincondena %}{{ recluso.fincondena|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Delito</th>
                    <td>{{ recluso.delito }}</td>
                </tr>
                <tr>
                    <th>Mara</th>
                    <td>{{ recluso.mara }}</td>
                </tr>
                <tr>
                    <th>Foto</th>
                    <td> {{ recluso.getIdpersona().getFoto() }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-lg-6"><br>
        <a class="btn btn-warning btn-block"  href="{{ path('reclusos_edit', { 'idrecluso': recluso.idrecluso }) }}">
            <i class="fas fa-pencil-alt"></i> Editar</a>
    </div> 
    <div class="col-lg-6"><br>
        <a class="btn btn-primary btn-block" href="{{ path('reclusos_index') }}">
            <i class="fas fa-arrow-left"></i> Regresar a la lista</a>
    </div>
            {#{{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}#}
        
{% endblock %}
