{% extends 'base.html.twig' %}

{% block Titulo %}Usuarios{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Usuarios</li>
    <li class="breadcrumb-item active">Listado de Usuarios</li>
{% endblock %}

{% block contenido %}
    <h1>Segusuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Password</th>
                <th>Fechacreacion</th>
                <th>Fechamodificacion</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for segUsuario in segUsuarios %}
            <tr>
                <td><a href="{{ path('usuarios_show', { 'id': segUsuario.id }) }}">{{ segUsuario.id }}</a></td>
                <td>{{ segUsuario.usuario }}</td>
                <td>{{ segUsuario.password }}</td>
                <td>{% if segUsuario.fechaCreacion %}{{ segUsuario.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if segUsuario.fechaModificacion %}{{ segUsuario.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ segUsuario.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuarios_show', { 'id': segUsuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuarios_edit', { 'id': segUsuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuarios_new') }}">Create a new segUsuario</a>
        </li>
    </ul>
{% endblock %}
