{% extends 'base.html.twig' %}

{% block Titulo %}Nuevo Usuario{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Usuario</li>
    <li class="breadcrumb-item active">Nuevo Usuario</li>
{% endblock %}

{% block contenido %}
    <h1>Segusuario creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('usuarios_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
