{% extends 'base.html.twig' %}

{% block Titulo %}Datos del usuario{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Usuario</li>
    <li class="breadcrumb-item active">Datos del Usuario</li>
{% endblock %}

{% block contenido %}
    <h1>Segusuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ segUsuario.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ segUsuario.usuario }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ segUsuario.password }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if segUsuario.fechaCreacion %}{{ segUsuario.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{% if segUsuario.fechaModificacion %}{{ segUsuario.fechaModificacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ segUsuario.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuarios_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuarios_edit', { 'id': segUsuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
