{% extends 'base.html.twig' %}

{% block Titulo %}Visitas{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Visitas</li>
    <li class="breadcrumb-item active">Listado de visitas</li>
{% endblock %}

{% block contenido %}
    <div class="white-box"> 
        <div class="pull-right">
            <a class="btn btn-primary " href="{{ path('reclusovisitas_new') }}">
                <i class="fas fa-plus"></i> Nueva Visita a Recluso</a> 
            </div>
        <h3 class="box-title m-b-0">Gestión de visitas</h3>
        <p class="text-muted m-b-30">Visitas registradas</p>
        
        <div class="table-responsive">
            <table id="visitas" class="table table-hover table-bordered" >
            <thead class="thead-light">
                <tr>
                    <th style="display:none;">ID</th>
                    <th>Recluso visitado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reclusovisita in reclusovisitas %}
                    <tr>
                        <td style="display:none;"><a href="{{ path('reclusovisitas_show', { 'idreclusovisitas': reclusovisita.idreclusovisitas }) }}">{{ reclusovisita.idreclusovisitas }}</a></td>
                        <td>
                        {{ reclusovisita.getIdrecluso().getIdpersona().getNombres() }},
                        {{ reclusovisita.getIdrecluso().getIdpersona().getApellidos() }}
                        </td>
                        <td>
                            <a  class="btn btn-block btn-info" href="{{ path('reclusovisitas_show', { 'idreclusovisitas': reclusovisita.idreclusovisitas }) }}">
                                <i class="far fa-eye"></i> Ver</a>
                            <a class="btn btn-block btn-warning" href="{{ path('reclusovisitas_edit', { 'idreclusovisitas': reclusovisita.idreclusovisitas }) }}">
                                <i class="fas fa-pencil-alt"></i> Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block JS %}
{{ parent() }}
<script type="text/javascript">
  $(document).ready(function() {
        var table = $('#visitas').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "thousands": ",",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                  "next": "Siguiente",
                  "previous": "Anterior"
                }
            },
            "info": false,
            "sort": false,
            "lengthMenu": false,
            "bLengthChange": false,
            "bFilter": true,
    });
  });
</script>
{% endblock %}
