{% extends 'base.html.twig' %}

{% block Titulo %}Visitas{% endblock %}
{% block Breadcrum %}
    <li class="breadcrumb-item">Visitas</li>
    <li class="breadcrumb-item active">Datos de la visita</li>
{% endblock %}

{% block contenido %}
    <h1>Información de la visita</h1>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr style="display:none;">
                    <th>ID Visita</th>
                    <td>{{ reclusovisita.idreclusovisitas }}</td>
                </tr>
                <tr>
                    <th>Cárcel</th>
                    <td>{{ reclusovisita.getIdcarcel().getNombre() }}</td>
                </tr>
                <tr>
                    <th>Recluso</th>
                    <td>{{ reclusovisita.getIdrecluso().getIdpersona().getNombres() }},
                        {{ reclusovisita.getIdrecluso().getIdpersona().getApellidos() }}</td>
                </tr>
                <tr>
                    <th>Visitante</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-lg-6"><br>
        <a class="btn btn-warning btn-block"  href="{{ path('reclusovisitas_edit', { 'idreclusovisitas': reclusovisita.idreclusovisitas }) }}">
            <i class="fas fa-pencil-alt"></i> Editar</a>
    </div> 
    <div class="col-lg-6"><br>
        <a class="btn btn-primary btn-block" href="{{ path('reclusovisitas_index') }}">
            <i class="fas fa-arrow-left"></i> Regresar a la lista</a>
    </div>

        {#{{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}#}
{% endblock %}
